#sudo systemctl daemon-reload
#sudo systemctl start celery_xmrgtask_daemon
#sudo systemctl enable celery_xmrgtask_daemon
#sudo systemctl status celery_xmrgtask_daemon

[Unit]
Description=XMRGTask Celery Service
After=network.target

[Service]
User=xeniaprod
Group=python_flask
WorkingDirectory=/home/xeniaprod/scripts/XMRGTask/
ExecStart=/usr/local/venv/python3_venv/bin/celery -A xmrg_celery_app worker -l INFO
Restart=always

[Install]
WantedBy=multi-user.target
